@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,900;1,500&display=swap');

body, h1, p, a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #ffff00, #ff6f00);
  font-family: 'Poppins', sans-serif;
}

.hero {
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
  color: #ffffff;
}

.hero h1 {
  font-size: 60px;
  margin-bottom: 10px;
  color: #ffffff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}

.hero p {
  font-size: 30px;
  margin-bottom: 20px;
  color: #ffffff;
}

.hero .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.hero .btn:hover {
  background-color: #e65100be;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .hero h1 {
    font-size: 40px;
  }

  .hero p {
    font-size: 20px;
  }

  .hero .btn {
    font-size: 18px;
  }
}
